@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding-left: 0;
    font-family: "Roboto", sans-serif;
}

/* Navbar */
nav {
    background-color: #28A745;
}

nav .nav-link{
    color: antiquewhite;
}

/* Cards */

.card h2 {
    font-size: 20px;
    font-weight: 300;
}

.card h4 {
    font-size: 16px;
    font-weight: 200;
}

.card h3 {
    font-size: 18px;
    font-weight: 400;
    color: #28A745;
}

.card h5 {
    font-size: 20px;
    font-weight: 200;
}

.card p {
    font-size: 15px;
    font-weight: 200;
}

.card img {
    width: auto;
    height: 200px;
}

/* Form */

form {
    background-color: #28A745;
}
